{block #header}
	Home
{/block}

{block #content}
	<h2>Vítej ve hře Shatter World (beta)</h2>
	<p>Hra byla spuštěna 9.1.2012 v 19:15:00</p>


	<ul>
		<li>Každý právě jeden klan</li>
		<li>Veškeré chyby hlašte co nejdřív</li>
		<li>Soustřdíme se především na test útoků, špionáže a průzkumů</li>
		<li>Tak nějak si srovnávejte v hlavě jak upravit ceny a časy (např. budovy jsou moc rychlý)</li>
	</ul>
	Díky

{/block}

