{block #scripts}
	{include #parent}
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/author.css" />
{/block}

{block #header}
	Autoři
{/block}

{block #content}
	<h2>Autoři</h2>
	<ul>
		<li>Petr Bělohlávek</li>
		<li>Jan Buchar</li>
	</ul>

	<h2>Poděkování</h2>
	<ul>
		<li>Tvorba ikonek - Eva Bělohlávková</li>
		<li>Server pro beta testing - Gymnázium Joachima Barranda, Beroun (spec. Mgr. Zbyněk Hamerník)</li>
		<li>Testing - všichni účastníci beta testu</li>
	</ul>

{/block}

