{block #header}
	Přehled aliance {$alliance->name}
{/block}

{block #content}
	<h2>Členové</h2>
	<table>
		<tr>
			<th>Jméno</th>
		</tr>
		{foreach $alliance->members as $member}
			<tr><td><a n:href="Clan:show $member->id">{$member->name}</a></td></tr>
		{/foreach}
	</table>

{/block}
