{block #header}
	Smazat klan
{/block}

{block #content}
	<p>
		Opravdu chcete smazat klan? Smazáním klanu NESMAŽETE herní účet, ale svůj dosavadní postup ve hře a budete muset začít odznova!!!
	</p>
	{control deleteClanForm}
{/block}
