<html>
	<head>
		<title>{block #title}ShatterWorld{/block}</title>

		<link rel="stylesheet" type="text/css" href="{$basePath}/css/flashes.css" />

		<script type="text/javascript" src="{$basePath}/jquery/jquery_min.js"></script>
		<script type="text/javascript" src="{$basePath}/jquery/flashes.js"></script>
	
	</head>

	<body>
	Administrace!!!
	<br/>
	
		{if $flashes}
			<div id="flashes">
				{foreach $flashes as $flash}
					<div class="flash {$flash->type}">
						{$flash->message}
					</div>
				{/foreach}
			</div>
		{/if}
		<p>
			<a href="{link :Game:Dashboard:}">Game</a><br/>
			<a href="{link Map:}">Map:</a><br/>
			<a href="{link Map:new}">Map:new</a><br/>
		</p>
		<p>
			{include #content}
		</p>
	
	</body>

</html>
