{block #scripts}
	{include #parent}
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/messages.css" />
{/block}

{block #header}
	Poslat zprávu
{/block}

{block #content}
	<table id="msgMenu">
		<tr>
			<td><a href="{link Message:new}">Napsat</a></td>
			<td><a href="{link Message:}">Přijaté</a></td>
			<td><a href="{link Message:sent}">Odeslané</a></td>
		</tr>
	</table>

	Více příjemnců oddělte mezerou, středníkem nebo čárkou
	{control newMessageForm}
{/block}
