{block #scripts}
	{include #parent}
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/messages.css" />
{/block}

{block #header}
	Zpráva
{/block}

{block #content}

	<table id="message">
		<tr><th>Odesílatel:</th><td>{$message->sender->nickname}</td></tr>
		<tr><th>Příjemce:</th><td>{$message->recipient->nickname}</td></tr>
		<tr><th>Předmět:</th><td>{$message->subject}</td></tr>
		<tr><th>Zpráva:</th><td>{$message->body}</td></tr>
	</table>


{/block}
