{block #header}
	Přispějte
{/block}

{block #content}
	<p>V současné době není technicky možné dobrovolně přispívat na chod hry, ani nabízet Premium účty, obsahující bohaté neherní výhody. Na těchto nedostatcích usilovně pracujeme.</p> Děkujeme za pochopení
{/block}

