#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	php:
		date.timezone: UTC
		session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes

	game:
		map:
			sizeX: 16
			sizeY: 16
			playerDistance: 2
			initialFieldsCount: 3

	doctrine:
		proxyDir: %tempDir%/proxies
		proxyNamespace: Proxies
		entityDir: [%appDir%/models/entities]
		entityNamespace: Entities
		serviceNamespace: Services

	database:
		driver: pdo_mysql
		host: localhost
		dbname: ShatterWorld
		user: swuser
		password: 12345
		charset: utf8

	services:
		robotLoader:
			run: true
			option:
				directory: [%appDir%, %libsDir%]
		
		doctrineCache:
			class: DoctrineCache
			arguments: [@cacheStorage]
		
		authenticator:
			class: Authenticator
			arguments: [@userService]

production < common:

development < common:

console < common:
