{block #header}
	Přehled
{/block}

{block #content}

	<table>
		<tr>
			<th>Jednotka</th>
			<th>Množství</th>
		</tr>
		{foreach $units as $unit}
			<tr>
				<td>{$unit->type|getDescription}</td>
				<td>{$unit->count}</td>
			</tr>
		{/foreach}
	</table>
{/block}

