<html>

<html>
	<head>
		<title>{block #title}ShatterWorld{/block}</title>

		<meta name="keywords" content="shatter, world, nette, etc">
		<meta name="description" content="free online browser game">
		<meta name="author" content="Jan Buchar & Petr Bělohlávek">
		<meta name="robots" content="index, follow">

		<meta http-equiv="content-type" content="text/html;charset=UTF-8">
		<meta http-equiv="content-language" content="cs">

		<link rel="stylesheet" type="text/css" href="{$basePath}/css/front.css" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/flashes.css" />
		<link rel="stylesheet" type="text/css" href="{$basePath}/css/jquery-ui.css" />



	</head>

	<body>



		{snippet flashes}
		{if $flashes}
			<div id="flashes">
				{foreach $flashes as $flash}
					<div class="flash {$flash->type}">
						{$flash->message}
					</div>
				{/foreach}
			</div>
		{/if}
		{/snippet}
		<div id="frame">
			<div id="userBar">
			</div>

			<div id="banner">
			</div>

			<div id="infoBar">
				<div id="resourceBar">
				</div>
				<div id="countdownBar">
					Odpočítávání (<span id="countdownCount"></span>)
				</div>
				<div class="clearer"><span></span></div>
			</div>

			<div id="countdownDialog">
			</div>

			<div id="leftcenter">

				<div id="menu">
					<div class="submenu">
						<h3>O hře</h3>
	
						<ul>
							<li><a href="{link Dashboard:}">...</a></li>
						</ul>
					</div>
					<div class="submenu">
						<h3>Účet</h3>
	
						<ul>
							<li><a href="{link Homepage:}">Login</a></li>
							<li><a href="{link Signup:}">Registrace</a></li>
						</ul>
					</div>

				</div>
	
				<div id="container">
	
					<div id="header">{block #header}&nbsp;{/block}</div>
					{block #signup}{/block}
				</div>
			</div>

			<div id="right">
				<div id="content">
					{block #login}{/block}
				</div>


			</div>
			<div class="clearer"><span></span></div>

			<div id="footer">
				<a href='http://www.nette.org/cs/' target='_blank'><img src='{$basePath}/images/nette-powered1.gif' /></a>&nbsp;2011 &copy; Petr Bělohlávek & Jan Buchar

			</div>

		</div>



	</body>

</html>
