<html>
	<head>
		<title>{block #title}ShatterWorld{/block}</title>

		<link rel="stylesheet" type="text/css" href="{$basePath}/css/flashes.css" />

		<script type="text/javascript" src="{$basePath}/js/jquery_min.js"></script>
		<script type="text/javascript" src="{$basePath}/js/flashes.js"></script>
	
	</head>

	<body>
		{if $flashes}
			<div id="flashes">
				{foreach $flashes as $flash}
					<div class="flash {$flash->type}">
						{$flash->message}
					</div>
				{/foreach}
			</div>
		{/if}
		<p>
			<a href="{link Homepage:}">default(login)</a><br/>
			<a href="{link Signup:}">signup</a><br/>
			<a href="{link Admin:}">admin</a><br/>
		</p>
		<p>
			{include #content}
		</p>
	
	</body>

</html>
