<html>
	<head>
	</head>

	<body>
		{if $flashes}
			<div>
				{foreach $flashes as $flash}
					<div class="flash {$flash->type}">
						{$flash->message}
					</div>
				{/foreach}
			</div>
		{/if}
		<p>
			<a href="{link Homepage:}">default(login)</a><br/>
			<a href="{link Signup:}">signup</a><br/>
		</p>
		<p>
			{include #content}
		</p>
	
	</body>

</html>
