{block #header}
	Přehled profilu
{/block}

{block #content}
<table>
	<tr>
		<th>Jméno:</th>
		<td>{$profile->name}</id>
	</tr>
	<tr>
		<th>Věk:</th>
		<td>{$profile->age}</id>
	</tr>
	<tr>
		<th>Pohlaví:</th>
		<td>{if $profile->gender=="m"}Muž{elseif $profile->gender=="f"}Žena{/if}</id>
	</tr>
	<tr>
		<th>ICQ:</th>
		<td>{$profile->icq}</id>
	</tr>
</table>
{/block}
