{block #content}
<table>
	<h2>profil</h2>
	<tr>
		<th>jméno:</th>
		<td>{$profile->name}</id>
	</tr>
	<tr>
		<th>věk:</th>
		<td>{$profile->age}</id>
	</tr>
	<tr>
		<th>pohlaví:</th>
		<td>{$profile->gender}</id>
	</tr>
	<tr>
		<th>icq:</th>
		<td>{$profile->icq}</id>
	</tr>
</table>
{/block}
