{block #header}
	Smazat profil
{/block}

{block #content}
	<p>
		Opravdu chcete smazat profil? Smazáním profilu NESMAŽETE herní účet, pouze informace o sobě.
	</p>
	{control deleteProfileForm}
{/block}
