{block #head}
<script type="text/javascript" src="{$basePath}/js/adminMap.js"></script>
<link rel="stylesheet" type="text/css" href="{$basePath}/css/map.css"/>
{/block}
{block #content}
{control switchOverlayForm}
<div id="mapContainer">
	<div id="map"></div>
	<div class="clearer"><span></span></div>
</div>
{/block}