{block #header}
	Návod
{/block}

{block #content}
	<p>Na vytvoření komplexního popisu hry stále pracujeme. Zatím můžete využít naší <a href="https://github.com/ShatterWorld/ShatterWorld/wiki" target="_blank">Wiki</a></p>
	Děkujeme za pochopení
{/block}

