{block #header}
	Přehled
{/block}

{block #content}
	<table id = "offers">
		<tr><th>Kdo</th><th>Co</th><th>Kolik</th><th>Za co</th><th>Kolik</th></tr>
		{foreach $offers as $offer}
			<tr><td>{$offer->owner->name}</td><td>{$offer->offer}</td><td>{$offer->offerAmount}</td><td>{$offer->demand}</td><td>{$offer->demandAmount}</td></tr>
		{/foreach}
	</table>
{/block}
