{block #scripts}
	{include #parent}
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/market.css" />
{/block}

{block #header}
	Prodat
{/block}

{block #content}
	{control sellForm}
{/block}
