{block #header}
	Žebříček klanů
{/block}

{block #content}
	<table>
		<tr>
			<th>Pořadí</th>
			<th>Klan</th>
			<th>Hráč</th>
			<th>Skóre</th>
		</tr>
		{foreach $chart as $order =>$row}
			<tr>
				<td>{$offset + $order + 1}</td>
				<td><a n:href="Clan:show $row['clanid']">{$row['clanname']}</a></td>
				<td><a n:href="Profile:show $row['userid']">{$row['usernickname']}</a></td>
				<td>{$row['sumvalue']}</td>
			</tr>
		{/foreach}
	</table>
	{control pager}
{/block}
