#flashes {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 9999;
	width: 100%;
}

#flashes .flash{
	background: lightgrey;
	cursor: pointer;
	padding: 6px 3px;
}

#flashes .error{
	background: red;
}
