#flashes {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 9999;
	width: 100%;
	cursor: pointer;
	background: #dfdfdf;
	text-align:center;
}

#flashes .flash, #flashes .error {
	padding: 6px 3px;
	font-weight: bold;
	text-decoration:underline;
}

#flashes .flash {
	color: #438f04;
}

#flashes .error {
	color: red;
}
