#leftcenter {
	float : left;
}

#right {
	float : right;
	width : 200px;
}

#content {
	text-align: justify;
	padding: 5px 15px;
	position: relative;
}


#container {
	width: 495px;
	margin-right: 0px;
}
