#leftcenter {
	float : left;
	width: 705px;
}

#right {
	float : right;
	width : 170px;
}

#content {
	text-align: justify;
	padding: 5px 15px;
	position: relative;
}


#container {
	width: 510px;
	margin-right: 0px;
}

#loginSubmenu label {
	color: #ccc;
}
