#content {
	text-align: justify;
	padding: 5px 15px;
	position: relative;
}

#infoBar #resourceBar{
	color: white;
	float: left;
	margin-left: 15px;
}

#infoBar .text {
	vertical-align: middle;
	line-height: 24px;
}

#infoBar img {
	vertical-align: middle;
}

#infoBar #countdownBar, #infoBar #reportBar, #infoBar #orderBar {
	color: white;
	float: right;
	margin-right: 15px;
	vertical-align: middle;
}

#countdownDialog {
	display: none;
}

.countdownTitle {
	font-weight: bold;
	width: 90%;
	vertical-align: top;
}

.countdownText {
	text-align: right;
}

.report {
	margin-bottom: 1em;
}

.report h2 {
	font-weight: bold;
}

.report .date {
	font-style: italic;
}

table {
	width : 100%;
	border-collapse:collapse;
}

table .row1 {
	/*background: blue;*/
}

table .row2 {
	background: #b8b8b8;
}

table a {
	display: block;
}

table th {
	font-weight: bold;
	vertical-align : middle;
}

table tr:hover {
	background: #ffbe40;
}
