#content {
	text-align: justify;
	padding: 5px 15px;
	position: relative;
}

#infoBar #resourceBar{
	color: white;
	float: left;
	margin-left: 15px;
}

#infoBar #countdownBar{
	color: white;
	float: right;
	margin-right: 15px;
	cursor: pointer;
	display: none;
}

#infoBar #countdownBar:hover{
	text-decoration: underline;
}

#countdownDialog{
	/*color: white;*/
	display: none;
	/*padding-left: 15px;
	margin-bottom: 10px;*/
}
