* {
	padding: 0px;
	margin: 0px auto;
	border: 0px;
	font: 10pt Georgia serif;
}

.clearer {
	clear: both;
}

body {
	background: url('../images/prague.png') #000 no-repeat 80px;
	background-attachment: fixed;
	background-position: center bottom;
}

a {
	color: #438f04;
}

a:hover {
	text-decoration: underline;
}

.caption {
	font-weight: bold;
}

#frame {
	margin-top:10px;
	width: 900px;
	background: black;
}

#chooseClan {
	float: left;
	margin-left: 315px;
}

#footer {
	background: url('../images/bar-small-bottom1.png') repeat-x;
	color: #ccc;
	margin-top: 10px;
	text-align: center;
	line-height:20px;
}

#footer img {
	vertical-align: middle;
}

#menu {
	width: 170px;
	float: left;
}

.submenu {
	background: #414143;
	margin-bottom: 15px;
	width: 170px;
	border: 1px solid #000;
	color: white;
}

.submenu ul {
	list-style-type: none;
}

.submenu h3 {
	color: white;
	padding-left: 5px;
	font-weight: bold;
	line-height: 20px;
	background: url('../images/bar-small-bottom1.png') repeat-x center;
	cursor: pointer;
}

.submenu h3 a {
	color:white;
}

.submenu li {
	padding-left: 12px;
	cursor: pointer;
}

.submenu li:hover {
	/*background: #A8A8A8;*/
}

.submenu li a{
	display: block;
	text-decoration: none;
	color: #ccc;
}

.submenu li a:hover{
	color: #66b301;
}

#header {
	color: #ccc;
	padding: 0px 5px;
	line-height: 20px;
	background: url('../images/bar-small-bottom1.png') repeat-x center;
	position: relative;
}

#banner {
	background: url('../images/banner1.png') no-repeat;
	height: 82px;
	position: relative;
	margin-bottom:5px;
}

#banner a {
	color: #ccc;
	text-decoration: none;
}

#banner a:hover {
	text-decoration: underline;
}

#bannerMenu {
	position:absolute;
	right:0px;
	bottom:5px;
	color: #ccc;
}

#bannerMenu ul {
	list-style-type: none;
}

#bannerMenu ul li {
	display:inline;
}

#container {
	min-height:400px;
	border: 1px solid #000;
	background: #dfdfdf;
	float: right;
}

#content {
	text-align: justify;
	position: relative;
	padding: 5px 15px;
}

#content h2 {
	text-decoration: underline;
	font-weight: bold;
	font-size: 110%;
}

#content h3 {
	text-decoration: underline;
	font-weight: bold;
}

.leftFloater {
	float: left;
}

.rightFloater {
	float: right;
}
