#fieldInfo {
	background: #5D6555;
	color: white;
	border: 1px solid white;
	padding: 3px;
	width: 170px;
	height: 80px;
	position: absolute;
	z-index: 99999999999999999;
	display: none;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";/*IE*/
	-moz-opacity: 0.9; /*Old mozzila*/
	opacity: 0.9;/*Others*/
}

#fieldActions {
	background: lightgreen;
	width: 170px;
	height: 80px;
	float: left;
}

#mapContainer {
	position: relative;
	background:black;
	width:650px;
	height:640px;
	overflow:auto;
}

.relativePositioner {
	position: relative;
}

#fieldDetail {
	background: #5D6555;
	border: 2px white solid;
	width: 350px;
	height: 380px;
	position: absolute;
	left: 150px;
	top: 70px;
	z-index: 999999999999999999999999999;
	display: none;
	color: white;
}



#fieldDetail #fieldImg {
	float: left;
}

#fieldDetail #closeFieldDetail {
	float: right;
	padding: 10px 10px 10px 10px;
	cursor: pointer;
}

.field {
	cursor: pointer;
}

#navigDiv {
	float: right;
}

#navig {
	background: #cdcdcd;
}
#navig td{
	cursor: pointer;
	padding: 1px;

}












