#fieldInfo table {
	width: 100%;
}

#mapContainer {
	/*position: relative;*/
	background:black;
	width:650px;
	height:640px;
	overflow:auto;
}

#map {
	position: relative;
	background: #000;
}

.field {
	cursor: pointer;
	vertical-align: middle;
}

.field img {
	margin: 3px auto;
	display: block;
}

#navigDiv {
	position: absolute;
	top: 10px;
	right: 30px;
	z-index: 9998;
}

#navig {
	background: #414143;
	color: #ccc;
	border: 1px solid #ccc;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";/*IE*/
	-moz-opacity: 0.9; /*Old mozzila*/
	opacity: 0.9;/*Others*/
}

#navig td {
	cursor: pointer;
	padding: 1px;
}

.toolbox {
	background : #414143;
	border : #ccc 1px solid;
	color : #ccc;
	padding : 5px;
	width : 150px;
	position : absolute;
	-ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-moz-opacity : 0.9;
	opacity : 0.9;
}

.toolbox a {
	color: #ccc;
	display: block;
	padding: 3px;
}

.toolbox a:hover {
	background: #ABB99C;
	color: #000;
	text-decoration: none;
}

#fieldInfo {
	background : #414143;
	color : #ccc;
	border : 1px solid #ccc;
	padding : 3px;
	min-width : 180px;
	position : absolute;
	display: none;
	-ms-filter : "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
	-moz-opacity : 0.9;
	opacity : 0.9;
}

