td {
	border-left: 1px solid black;
}

.time {
	width: 140px;
	text-align: center;
}

.markAs {
	width: 110px;
	text-align: center;

}

.delete {
	width: 60px;
	text-align: center;
}

.unread, .unread a{
	font-weight: bold;
}

table a {
	/*color:white;*/
}
