.report {
	margin-bottom: 1em;
}

.unread .headline, .unread .date {
	font-weight: bold;
}

.report .date {
	font-style: italic;
}

td, th.top {
	text-align: center;
}

.reportHead {
	background: #b8b8b8;
	padding: 0px 5px;
	cursor: pointer;
}

.reportBody {
	padding: 5px;
	border: 1px solid #b8b8b8;
}
