td {
	border-left: 1px solid black;
}

.time {
	width: 70px;
	text-align: center;
}

.timeFull {
	width: 160px;
	text-align: center;
}

.missDep, .missRes, .running, .conflict {
	color: red;
}

.upgrade a {
	color: blue;
}

.research a {
	color: green;
}

.cost {
	width: 20px;
	text-align: center;
}

.level, .max {
	width: 40px;
	text-align: center;
}

.action {
	width: 130px;
	text-align: right;
}
