#researches{
	width : 100%;
	border-collapse:collapse;
}

#researches a{
	display: block;
}

#researches th{
	width: 100px;
	vertical-align : top;
}


#researches .row1{
	/*background: blue;*/
}

#researches .row2{
	background: #b8b8b8;
}
#researches td{
	border-left: 1px solid black;
}

#researches .delete{
	width: 60px;
	text-align: center;
}

#researches .time{
	width: 140px;
	text-align: center;
}

.unread{
	color:red;
}
