td{
	border-left: 1px solid black;
	/*text-align: center;*/
}

.time{
	width: 140px;
	text-align: center;
}

.missDep, .missRes, .running{
	color: red;
}

.upgrade a{
	color: blue;
}

.research a{
	color: green;
}
